@import '../../assets/sass/base';

.homeEducation{@include flex(column, initial, initial);}

@media only screen and (min-width: $tabletBp) and (max-width: $laptopBp){
    .homeEducation{
        h1{font-size: 30px;}
    }
}
@media only screen and (min-width: $mobileBp) and (max-width: $tabletBp) {
    .homeEducation{
        h1{font-size: 28px;}
    }
}
@media only screen and (min-width: $smallMobileBp) and (max-width: $mobileBp) {
    .homeEducation{
        h1{font-size: 26px;}
    }
}
@media only screen and (max-width: $smallMobileBp) {
    .homeEducation{
        h1{font-size: 24px;}
    }
}