@import '../../assets/sass/base';

.homeSkills{
    @include flex(column, initial, initial);
    h2{
        color: gray;
    }
}

@media only screen and (min-width: $tabletBp) and (max-width: $laptopBp){
    h1{font-size: 30px;}
	h2{font-size: 22px;}
}
@media only screen and (min-width: $mobileBp) and (max-width: $tabletBp) {
    h1{font-size: 28px;}
	h2{font-size: 20px;}
}
@media only screen and (min-width: $smallMobileBp) and (max-width: $mobileBp) {
    h1{font-size: 26px;}
	h2{font-size: 18px;}
}
@media only screen and (max-width: $smallMobileBp) {
    h1{font-size: 24px;}
	h2{font-size: 16px;}
}