@import '../../assets/sass/base';

.homeExperience{@include flex(column, initial, initial);}

.homeExperience-item{margin-bottom: 50px;}

@media only screen and (min-width: $tabletBp) and (max-width: $laptopBp){
	.homeExperience{
        h1{font-size: 30px;}
        h2{font-size: 22px;}
    }
}
@media only screen and (min-width: $mobileBp) and (max-width: $tabletBp) {
    .homeExperience{
        h1{font-size: 28px;}
        h2{font-size: 20px;}
    }
    .homeExperience-item{margin-bottom: 40px;}
}
@media only screen and (min-width: $smallMobileBp) and (max-width: $mobileBp) {
    .homeExperience{
        h1{font-size: 26px;}
        h2{font-size: 18px;}
    }
    .homeExperience-item{margin-bottom: 30px;}
}
@media only screen and (max-width: $smallMobileBp) {
    .homeExperience{
        h1{font-size: 24px;}
        h2{font-size: 16px;}
    }
    .homeExperience-item{margin-bottom: 20px;}
}