//Color palette for main page
$primary: #bb5c3c;
$secondary: #ca7d60;
$link: #daa590;
$linkHover: #fafcff;

//Color palette for contact page
$box: #f6f7d4;
$submit-bg: #d2f6c5;
$cancel-bg: #fffff6;
$submit-primary: green;
$cancel-primary: #f1f3c1;

$danger: #f1b0b7;
$success: #b1dfbb;

//Breakpoints for responsive design
$laptopBp: 1200px;
$tabletBp: 992px;
$mobileBp: 768px;
$smallMobileBp: 500px;

//Social media colors
$twitter: #00acee;
$insta: #C13584;
$telegram: #0088cc;
$linkedin: #0e76a8; 
$github: #333;
$gitlab: #FC6D27;